  <footer class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12 my">
        <h1>mycatpics<ion-icon name="paw-outline"></ion-icon>
        </h1>
      </div>
      <div class="col-md-3 mx-auto">
        <a href="#">contact us</a>
        <p><ion-icon name="logo-facebook"></ion-icon>
           <ion-icon name="logo-twitter"></ion-icon>
           <ion-icon name="logo-instagram"></ion-icon>
        </p>
      </div>
      <div class="col-md-4">
        <p> copy rights belong to </p>
        <i><img src="/images/paw1.png" width="30" height="30"></i>
        <i><img src="/images/paw1.png" width="30" height="30"></i>
      </div>
      <div class="col-md-3 mx-auto copy">
        <a href="#">about us </a>
        <p>some random text i put in here</p>
      </div>

    </div>
  </footer>