<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
  <% include partials/navbar %>
<h1>ONLY AUTHORIZED USERS </h1>

  <% include partials/footer %>
  <% include partials/script %>
</body>
</html>