<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
  <% include partials/navbar %>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8">
        <img class="img-fluid mx-auto d-block" src="<%= image.imageUrl %>">
      </div>
      <div class="col-md-4 mx-auto">
        <h2><%= image.description %></h2>
        <p><a href="<%= image.imageUrl %>" class="btn btn-primary btn-sm">download picture</a></p>
      </div>
    </div>
  </div>

  <% include partials/footer %>
  <% include partials/script %>
</body>
</html>