html{
	height: 100%;
	font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body{
	background-image:url(images/paw.jpg);
	color:#929699 !important;
	height: 100%;
	display: flex;
  	flex-direction: column;

}
.content{
	flex: 1 0 auto;
}
/*-------NAVBAR---------*/

.navbar-expand-lg{

	background-color:#fee6dc!important;

	margin-bottom: 0px;
}

li.nav-item{
	color:#e2c8c7 !important;

}

a{
	color: #71787e;
}


.dropdown-menu{
	background-color: #fee6dc !important;

}
.navbar-expand-lg a.dropdown-item:hover{
	background-color: #e2c8c7!important;
}

.navbar-expand-lg .dropdown-menu {
	background-color: #fee6dc !important;
}

.navbar-expand-lg li.active a{
	background-color: #e2c8c7!important;
}
.navbar-default .navbar-nav > .open > a{
	background-color: #e2c8c7 !important;
	
}
li.dropdown a:hover{
	background-color: #e2c8c7!important;

}
/*----------carousel caption-------------*/

.carousel-caption{
	background-color: rgba(255, 99, 71, 0.2);
	padding:50px 100px;
	width: 35%;
	margin-bottom: 60px;
}
/*-------------navigation bar2-------------*/

#nav2{
	margin-bottom: 50px;
	padding: 30px;
}
#nav2 .nav-item a{
	margin-right: 75px;
}

/*---------pics--------*/
.gallery img.img-thumbnail {
	height: 200px;
	object-fit: cover;
}

.gallery .thumbnail{
	position: relative;
}

.gallery-shadow ion-icon {
	color: #ffb19d;
	font-size: 30px;
	margin: 8px;
}

.thumbnail:hover .gallery-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
	box-shadow: inset 1px 1px 57px 9px rgba(0,0,0,0.75);
    top: 0;
	left: 0;
	display: block !important;
}

/*---------footer--------*/

footer{
	width: 100%;
	padding: 20px 0px;
	background-color: #fee6dc;
	flex-shrink: 0;
}

.copy{
	margin-left: 30px;
}
.my{
	margin-bottom: 60px;
}
footer ion-icon{
	font-size: 28px;
	padding: 1px;

}

/*paw animation*/
/* @keyframes pulse {
  from {
    box-shadow:  
                 0 0 0 0 rgba(51,51,51,1);
  }
  to {
    box-shadow:  
                 0 0 0 1em rgba(51,51,51,0);
  }
} */

@keyframes pulse {
	50% {
		transform: scale(2);
	}
	100% {
		transform: scale(0);
	}
}

.gallery-shadow ion-icon {
  /* animation: pulse 0.6s infinite ease-out; */
  transform-origin: center center;
  display: inline-block;
  position: relative;
  
  
}
.like{
	position: absolute;
	top: 15px;       

}
.icon-rotated {
  /* transform: rotate(360deg); */
  animation: pulse 0.5s 1 ease-in;
}

/*-----profile-----*/
.jumbotron{
	position: relative;
	display: flex;
	height: 30%;
	background-image:url(images/lick.jpg);
	margin-bottom: 0px;
	padding:0px;
	align-items: flex-end;
	justify-content: flex-start;
}
.rounded-circle{
	margin-left: 20px;
	position: relative;
	width: 200px;
	height: 200px;
	object-fit: cover;
	top: 75px;
}
@media all and (max-width: 500px){
	.rounded-circle{
		justify-content: space-around;
		display: flex;
	}
}
.follow{
	margin-right: 15px;
	padding-right: 15px;
	margin-left: 15px;
	padding-left: 15px;

}
.followers{
	margin-left: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 15px;
}
#user-name{
	margin-left: 10px;
	flex-grow: 2;
	color: #ffff!important;
}